[Desktop Entry]
Categories=Game
Exec=sh -c 'FONTCONFIG_PATH=~/.guix-home/profile/etc/fonts/ /home/ch/.nix-profile/bin/honkers-railway-launcher'
GenericName=The Honkers Railway Launcher
Icon=moe.launcher.the-honkers-railway-launcher
Name=The Honkers Railway Launcher
StartupNotify=true
StartupWMClass=moe.launcher.the-honkers-railway-launcher
Type=Application
Version=1.5
