[commit]
	gpgsign = true
[user]
	name = Nikita Mitasov
	email = me@ch4og.com
[url "ssh://git@codeberg.org/ch4og"]
    insteadOf = https://codeberg.org/ch4og
[url "ssh://git@github.com/ch4og"]
    insteadOf = https://github.com/ch4og
[url "ssh://git@github.com/csmplay"]
    insteadOf = https://github.com/csmplay
[url "ssh://git@git.csmpro.ru/csmpro"]
    insteadOf = https://git.csmpro.ru/csmpro

